body {
  font: 1em helvetica, arial, system-ui;
  background-color: #eee;
  color: #111;
}
.subheading {
  font-size: 0.8em;
  text-transform: uppercase;
  color: #666;
}

.properties {
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

.property {
  position: relative;
  /* max-width: 20rem; */
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.gallery {
  margin: 0;
  display: flex;
  /* position: absolute;
  top: 0;
  left: 0; */
  transform: translateX(0%);
  transition: transform 0.5s;
}
.second {
  transform: translateX(-100%);
}
.third {
  transform: translateX(-200%);
}
.gallery img {
  display: block;
  max-width: 100%;
}
.favourite {
  border: none;
  background: none;
  padding: 0;
  line-height: 1;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5em;
}
.info {
  padding: 0 1em;
  margin: 1rem 0;
}
.details {
  margin: 0.5rem 0;
  /* display: flex;
  flex-wrap: wrap;
  column-gap: 1em; */
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #333;
}
.details li {
  display: inline;
  /* margin-right: 0.5em; */
}
.details li:not(:first-child)::before {
  content: "\2022";
  display: inline-block;
  font-size: 1.5em;
  margin-right: 0.25rem;
  line-height: 0.67;
  vertical-align: middle;
}
/* .details li:first-child::before {
  content: "";
  margin-right: 0;
} */


.cost {
  font-size: 1.5em;
  font-weight: 400;
  margin: 0.5rem 0;
}
.address {
  font-size: 1em;
  font-weight: 400;
  margin: 0.5rem 0;
}
.rooms {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  margin: 0;
  list-style: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.rooms img {
  height: 1.3em;
  vertical-align: middle;
  margin-right: 0.5rem;
}
.realtor {
  display: flow-root;
  background-color: #f3f3f3;
  padding: 0 1rem;
}
.agent {
  display: flex;
  gap: 0.5rem;
  margin: 1rem 0;
  font-style: normal;
}
.face {
  width: 2em;
  height: 2em;
  object-fit: cover;
  border-radius: 50%;
}
.contact {
  margin: 0;
}
.contact-name {
  font-weight: 700;
}
.contact-num {
  margin: 0;
}

@media screen and (min-width: 34rem) {
  body {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 40rem) {
  .properties {
    grid-template-columns: repeat(2, 1fr);
    /* align-items: start; */
  }
  .property {
    display: flex;
    flex-direction: column;
  }
  .info {
    flex-grow: 1;
  }
}
@media screen and (min-width: 60rem) {
  .properties {
    grid-template-columns: repeat(3, 1fr);
    max-width: 80rem;
    margin: 0 auto;
  }
}